body {
  margin: 0;
  padding: 0;
  background-color: #eaebed;
  font-family: 'LucidaGrande', Tahoma, Segoe IU, San Francisco, Roboto;
}

#barra {
  height: 43px;
  background-color: #5067af;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#contingut {
  width: 853px;
  background-color: #eaebed;
  margin: auto;

}
#cap {
  height: 358px;
  width: 853px;
  margin: auto;
}

#contingut #cap {
 height: 358px;
 background-color: white;
 background-image: url(img/cap.jpg);
 background-repeat: no-repeat;
 border: solid 1px #DDD;
 border-radius: 3px;

}


#contingut #cap img {
  position: relative;
  top: 220px;
  left: 16px;
  border-radius: 50%;
  border: solid white 4px;
  box-shadow: 5px 5px 10px grey;
}
#principal {
  height: 1462px;
  width: 853px;
  background-color: #d78b3a;
  margin: auto;
}
#contingut #cap h2
{
  position: relative;
  top: 75px;
  left: 230px;
  color: white;
  text-shadow: 5px 5px 7px grey;
}

#contingut #menu {
  height: 43px;
  width: 600px;
  margin-left: 200px;
  position:relative;
  top: 74px;
  background-color: white;
  color: grey;
}

#menu li {
  float: left;
  margin: 1px;
  list-style-type: none;
  height: 43px;
  padding: 0 30px;
  line-height: 43px;
  top: 14px;
}

#seccions {
  width: 298px;
  height: 200px;
  float: left;

}

.esquerra {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  width: 322px;
  margin: 1px;

}

.dreta {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  height: 200px;
  width: 470px;
  float: right;
  clear: right;

}

.esquerra, .dreta {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 12px;
  overflow: hidden;
  padding: 12px;
}

#presentacio {
overflow: hidden;
}

#principal  li {
  float: left;
  margin: 1px;
  list-style: none;
  height: 43px;
  padding: 0 30px;
  line-height: 43px;
  top: 14px;
}

#amistats {
overflow: hidden;
}

#presentacio, #amistats, #fotos {
  font-size: 12px;
}

#seccions h3 {
  text-indent: 26px;
  background-image: url(img/lateral.png);
  background-repeat: no-repeat;
  background-position: 0 -24px;
  height: 24px;
}

#presentacio p {
  border-bottom: solid 1px #DDD;

}

#presentacio h3 {
  background-position: 0 0;
}

#amistats h3 {
  background-position: 0 -48px;
}

#surprise h3 {
  background-position: 0 -72px;
}

#presentacio .estudis {
  list-style-image: url(iconetes/icones_estudis.png);

}

#presentacio .domicili {
  list-style-image: url(iconetes/icones_domicili.png);

}

#presentacio .sentimental {
  list-style-image: url(iconetes/icones_sentimental.png);
}

#amistats ul li {
  width: 80px;
  height: 80px;
  float: left;
  margin: 2px;
  padding: 2px;

}

a: hover {
  text-decoration: none;
}

#yaiza {
background-image: url(img/yaiza.jpg)
}

#oriol {
background-image: url(img/oriol.png)
}

#aaron {
background-image: url(img/aaron.jpg)
}

#siria {
background-image: url(img/siria.png)
}

#mario {
background-image: url(img/mario.jpg)
}

#victor {
background-image: url(img/victor.png)
}

#gemma {
background-image: url(img/gemma.jpg)
}

#patri {
background-image: url(img/patri.gif)
}

#sandra {
background-image: url(img/sandra.jpg)
}
